body {
    background-color: rgb(8, 8, 8);
    margin-left: 100px;
    font-family: 'Ubuntu', sans-serif;
    width: 960px;
}

#letras{
    color: aliceblue;
    }
img{
    width: 150px;
    border-radius: 50%;
}
.boton{
    background-color: blueviolet;
}
h1{
    background-color: blueviolet;
}

ul{
    list-style-type: square
}

footer{
    color: aliceblue;
    text-align: center;
    margin-top: 100px;
}